{
  "presets": [
    "@babel/preset-react",
    "@babel/preset-env",
    "module:react-native-dotenv",
  ],
  "plugins": [
    "babel-plugin-transform-class-properties", 
    "@babel/plugin-transform-classes", 
    "@babel/plugin-proposal-class-properties",
    ["lodash", { "id": "recompact" }],
  ]
}
